body {
    background-color: #1f1d1d;
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font: 14px Stem-Regular, arial, sans-serif;
    border: none;
    -webkit-border-radius: 20px;
    color: #777991;
    width: 25%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.05);
}

input[type=text], input[type=password] {
    text-align: center;
    -webkit-border-radius: 30px;
    width: auto;
    padding: 15px 20px;
    margin: 10px 0;
    margin-right: auto;
    margin-left: auto;
    display: block;
    border: none;
    outline: none;
    box-sizing: border-box;
    font: 14px Stem-Regular, arial, sans-serif;
    color: white;
    background-color: #3d3a39;
}

button {
    font: 15px Stem-medium, arial, sans-serif;
    background-color: #fa5114;
    -webkit-border-radius: 30px;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;
}

button:hover {
    opacity: 0.9;
}

.container {
    padding: 20px;
    color: #5c5857;
}